<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Exemplo 03</title>
		<link href="css/exemplo03css.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="cabecalho"><h1>CABECALHO</h1></div>
		<div id="menu"><h1>MENU</h1></div>
		<div id="conteudo"><h1>CONTEUDO</h1></div>
		<div id="rodape"><h1>RODAPE</h1></div>
	</body>
</html>
